.table {
  min-width: 60vw;
  border-collapse: collapse;
  border: 2px solid teal;
  background-color: white;
}

.table caption {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
}

.table th {
  background-color: darkgray;
  text-align: center;
  padding: 1.5rem;
}

.table td {
  text-align: center;
  padding: 0.8rem;
}

.table tr:nth-of-type(2n) {
  background-color: lightgray;
}
